@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #faf5d7;
}

#header {
    position: fixed;
    width: 100%;
    font-family: 'Sue Ellen Francisco', cursive;
    
}

#img-brand-container {
    height: 65px;
    min-width: 270px;
}

#header-img {
    width: 60px;
    height: auto;
    /* 2 divs side by side */
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 3px;
}

#brand-name {
    padding-left: 10px;
    padding-top: 4px;
    font-size: 23pt;
    /* 2 divs side by side */
    display: inline-block;
    vertical-align: middle;
}

#nav-bar {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFC2E2;
    padding-left: 10px;
    font-size: 17pt;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav-links-container ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    min-width: 350px;
}

.nav-links-container li {
    list-style: none;
    border-radius: 13px;
}

.nav-link, li {
    text-decoration: none;
    padding: 8px;
    padding-top: 11px;
    display: block;
    color: black
}

.nav-links-container li:hover {
    background-color: #ff90b3;
}

.hamburger-button {
    position: absolute;
    top: 1.4rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.bar {
    height: 4px;
    width: 100%;
    background-color: #ff90b3;
    border-radius: 10px;
}



h1 {
    text-align: center;
    line-height: 170%;
    font-family: 'Sue Ellen Francisco', cursive;
    margin-top: 40px;
}

.move-down{
    margin-top: 320px;
  }

@media (max-width: 640px) {
    .hamburger-button {
        display: flex;
    }

    .nav-links-container {
        display: none;
        width: 100%;
    }

    #nav-bar {
        flex-direction: column;
        align-items: flex-start;
        margin: 0px;
        padding: 0px;
    }

    .nav-links-container ul {
        width: 100%;
        flex-direction: column;
        background-color:#FFC2E2;
    }

    .nav-links-container li {
        text-align: center;
    }

    .nav-link, li {
        padding: 3px;
    }

    .nav-links-container.active {
        display: flex;       
    }

    #img-brand-container {
        align-self: center;
    } 
}

.section-containers {
    padding-left: 15px;
}

.titles {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 20pt;
    font-weight: 800;
    text-align: center;
}

.section-content {
    display: grid;
    grid-template-columns: 250px 2fr;
 
}

.text {
    font-family: Calibri, sans-serif;
    font-size: 12pt;
}

.knitting-benefits {
    padding-left: 0px;
}

.section-content > img {
    width: 200px;
    padding-left: 20px;
}

.text > ul > li {
    margin: 0;
	padding: 15px 0px 15px 60px;
	list-style: none;
	background-image: url("/static/Images/Red-yarn-PngItem_37893.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 35px;
    
}

/* Sign up form */
#signup {
    margin-left: 250px;
}

#signup > p {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 16pt;
}

.form-group {
    position: relative;
}

#email {
    width: 12em;
    margin: 8px 0;
    display: block;
    border: solid 2px #FF90b3;
    border-radius: 5px;
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 14pt;
    padding-left: 5pt;
}

input:focus { 
    outline: none !important;
    border: solid 2px rgb(191, 50, 106);
    background-color: white;
}

#submit {
    width: 8em;
    display: block;
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 14pt;
    border: solid 2px #FF90b3;
    background-color: #FF90b3;
    border-radius: 5px;
}

#submit:hover {
    transform:scale(1.07);
    color: white;
    background-color: #FF90b3;
    border: solid 2px #FF90b3;
}

@media (max-width: 640px) {
    .section-content {
        display: inline-block;
    }

    .section-content > img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-left: 0px;
        width: 150px;
        
    }

    #signup {
        margin-left: 0px;      
    }
}

@media (min-width: 1366px) {
    body {
        font-size: 120%;
        margin: 0 18%;
    }

    #header {
        position: relative;
    }

    h1 {
        margin-top: 0px;
    }

    .section-containers {
        font-size: 25pt;
    }

    .nav-link {
        font-size: 120%;
    }
    
    .titles {
        font-size: 120%;
    }

    .text {
        font-size: 60%;
    }

    #signup > p {
        font-size: 100%;
    }

    #email {
        font-size: 70%;
    }

    #submit {
        font-size: 70%;
    }
}
